<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.android.seclearning.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="34">
        <activity
            android:name="com.android.seclearning.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode|keyboard|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="false"
            android:theme="@style/Theme.MyApp"
            tools:ignore="DiscouragedApi,LockedOrientationActivity,NonResizeableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.home.main.learning.LearningActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode|keyboard|smallestScreenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="false"
            android:theme="@style/Theme.MyApp"
            tools:ignore="DiscouragedApi,LockedOrientationActivity,NonResizeableActivity" />

        <activity
            android:name=".ui.main.home.personal.PathDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode|keyboard|smallestScreenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="false"
            android:theme="@style/Theme.MyApp"
            tools:ignore="DiscouragedApi,LockedOrientationActivity,NonResizeableActivity" />

        <activity
            android:name=".ui.main.home.lab.LabDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode|keyboard|smallestScreenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="false"
            android:theme="@style/Theme.MyApp"
            tools:ignore="DiscouragedApi,LockedOrientationActivity,NonResizeableActivity" />
    </application>

</manifest>